<div class="welcome-container">
    <h1>Welcome to Recipe Master!</h1>
    <p class="intro-text">👋 Hello there! This is a full stack project created using Angular, MongoDB, Express & node.js where you can log in, view recipes, create your own & more.</p>
  
    <div class="content-container">
        <div class="features">
          <h2>Features:</h2>
          <ol>
            <li>Explore Recipes: Browse through recipes uploaded by other users, however deletion is only permissible for recipes <b>YOU</b> have created.</li>
            <li>Create Your Own: Create & upload your own recipe <b>after logging in</b>, personalize it with your own title, recipe summary, picture of end product, ingredients & cooking steps.</li>
            <li>Save Favorites: Keep track of your favorite recipes by saving them to your personalized collection, possible only after <b>proper authorization.</b></li>
            <li>Sign Up & Log In: Functionality to sign up & then authorize yourself by logging in. Authorization system is implemented using <b>passport.js</b> with the help of sessions.</li>
          </ol>
        </div>
    
        <div class="how-it-works">
          <h2>How It Works:</h2>
          <ol>
            <li>Sign Up or Log In: Get started by creating an account or logging in to properly access the project app.</li>
            <li>Browse Recipes: Discover recipes uploaded to the database by other users.</li>
            <li>Create Your Recipe: Share your own recipe, afterwards <b>only you</b> are able to delete it from the DB</li>
            <li>Save Favorites: Keep your go-to recipes handy by saving them to your personal collection.</li>
          </ol>
        </div>
    </div>
  
    <p class="get-cooking">Freely explore what this project has to offer :)</p>
  </div>
  